# **Trabalho Final**
### Algoritmos e Programação com Linguagem Python
---

**Orientações Gerais:**

* Esta é o trabalho final prático onde serão trabalhados conceitos
apresentados e exercitados em sala de aula.

* Aspéctos como clareza e organização do código, comentários, raciocínio lógico, coerência no nome de variáveis, utilização das estruturas mais adequadas para a solução dos problemas e o funcionamento adequado serão analisados e irão compor o valor da nota final.

* Procure entender exatamente o que se pede antes de iniciar a codificação. Quando se sabe o que é necessário fazer, a codificação fica mais fácil, mais eficiente e mais divertida ;-).

* Faça o upload do notebook completo nomeado da seguinte forma: *nome_sobrenome_RA.ipynb*.

* No caso de grupos, informar ao professor os membros de cada grupo e cada um deverá importar o arquivo no Canvas individualmente.

* Arquivos com nomes incorretos serão desconsiderados!

* Não deixem dúvidas para trás! Acessem os grupos combinados ou entrem em contato com o professor.

✌ Sucesso o/

# RMS Titanic

O RMS Titanic foi um navio de passageiros britânico operado pela White Star Line e construído pelos estaleiros da Harland and Wolff em Belfast. Foi a segunda embarcação da Classe Olympic de transatlânticos depois do RMS Olympic e seguido pelo HMHS Britannic. Projetado pelos engenheiros navais Alexander Carlisle e Thomas Andrews, sua construção começou em março de 1909 e ele foi lançado ao mar em maio de 1911. O Titanic foi pensado para ser o navio mais luxuoso e mais seguro de sua época, gerando lendas que era supostamente "inafundável".

A embarcação partiu em sua viagem inaugural de Southampton para Nova Iorque em 10 de abril de 1912, no caminho passando em Cherbourg-Octeville na França e por Queenstown na Irlanda. Ele colidiu com um iceberg às 23h40min do dia 14 de abril e afundou na madrugada do dia seguinte matando mais de 1500 pessoas, sendo um dos maiores desastres marítimos em tempos de paz de toda a história. Seu naufrágio destacou vários pontos fracos de seu projeto, deficiências nos procedimentos de evacuação de emergência e falhas nas regulamentações marítimas da época. Comissões de inquérito foram instauradas nos Estados Unidos e no Reino Unido, levando a mudanças nas leis internacionais de navegação que permanecem em vigor mais de um século depois.

Os destroços do Titanic foram procurados por décadas até serem encontrados em 1985 por uma equipe liderada por Robert Ballard. Ele se encontra a 3843 m de profundidade e a 650 km ao sudeste de Terra Nova no Canadá. Sua história e naufrágio permaneceram no imaginário popular durante décadas, levando a produção de vários livros e filmes a seu respeito, mais notavelmente o filme Titanic de 1997. Até hoje o Titanic permanece como um dos navios mais famosos da história, com seus destroços atraindo várias expedições de exploração ao longo dos anos.

*Fonte:* [WikiPedia](https://pt.wikipedia.org/wiki/RMS_Titanic)

--------

A equipe da [Udacity](https://udacity.com) disponibilizou informações sobre uma parte dos passageiros à bordo do RMS Titanic no dia daquela tragédia. Esse _dataset_ que contém informações reais vem sendo utilizado em diversos estudos de caso, além de servir de base para aprendizado de Ciência de Dados, Estatística e Machine Learning.

O arquivo **titanic_data.csv** contém informações reais sobre os passageiros organizadas da seguinte forma:

- Survived (Sobreviveu): 0 = Não, 1 = Sim
- Pclass (Classe): Classe de ingresso 1 = 1º, 2 = 2º, 3 = 3º
- Sex (Sexo): Sexo do passageiro
- Age (Idade): Idade em anos
- Sibsp: Quantidade de irmãos / cônjuges a bordo do Titanic
- Parch: Quantidade de pais / crianças a bordo do Titanic
- Ticket (Bilhete): Número do bilhete de embarque
- Fare (Tarifa): Tarifa paga pelo Passageiro
- Cabin (Cabine): Número de cabine
- Embarked (Embarque): Porto de Embarque (C = Cherbourg, Q = Queenstown, S = Southampton)

O objetivo deste estudo é obter algumas informações estatísticas sobre a tragédia e realizar alguns _insights_ a respeito dos tripulantes e das circunstâncias do acidente.

Efetue a carga do arquivo através da biblioteca _Pandas_ e a partir do _DataFrame_ gerado, efetue as operações necessárias para responder as questões.

## Importando o DataSet

1 - Efetuar a leitura do dataset através do Pandas, gerando um DataFrame de nome tit, levando-se em consideração que o arquivo encontra-se na mesma pasta do notebook.

In [ ]:
# Importando as bibliotecas
import numpy as np
import pandas as pd

In [ ]:
# Leitura do dataset com o dataframe com nome : tit
tit = pd.read_csv('/content/titanic_data.csv')

## Conhecendo o DataSet

2 - Quantas linhas e colunas tem o dataset? Quais os tipos das colunas?

In [ ]:
# Quantidades de linhas e colunas
tit.shape

(891, 12)

In [ ]:
#Tipos de colunas
tit.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 891 entries, 0 to 890
Data columns (total 12 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   PassengerId  891 non-null    int64
 1   Survived     891 non-null    int64
 2   Pclass       891 non-null    int64
 3   Name         891 non-null    object
 4   Sex          891 non-null    object
 5   Age          714 non-null    float64
 6   SibSp        891 non-null    int64
 7   Parch        891 non-null    int64
 8   Ticket       891 non-null    object
 9   Fare         891 non-null    float64
 10  Cabin        204 non-null    object
 11  Embarked     889 non-null    object
dtypes: float64(2), int64(5), object(5)
memory usage: 83.7+ KB

3 - Mostre os dados dos dez primeiros e 8 últimos registros do dataset.

In [ ]:
tit.head(10)

,PassengerId,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
0,1,0,3,"Braund, Mr. Owen Harris",male,22.0,1,0,A/5 21171,7.2500,NaN,S
1,2,1,1,"Cumings, Mrs. John Bradley (Florence Briggs Th...",female,38.0,1,0,PC 17599,71.2833,C85,C
2,3,1,3,"Heikkinen, Miss. Laina",female,26.0,0,0,STON/O2. 3101282,7.9250,NaN,S
3,4,1,1,"Futrelle, Mrs. Jacques Heath (Lily May Peel)",female,35.0,1,0,113803,53.1000,C123,S
4,5,0,3,"Allen, Mr. William Henry",male,35.0,0,0,373450,8.0500,NaN,S
5,6,0,3,"Moran, Mr. James",male,NaN,0,0,330877,8.4583,NaN,Q
6,7,0,1,"McCarthy, Mr. Timothy J",male,54.0,0,0,17463,51.8625,E46,S
7,8,0,3,"Palsson, Master. Gosta Leonard",male,2.0,3,1,349909,21.0750,NaN,S
8,9,1,3,"Johnson, Mrs. Oscar W (Elisabeth Vilhelmina Berg)",female,27.0,0,2,347742,11.1333,NaN,S
9,10,1,2,"Nasser, Mrs. Nicholas (Adele Achem)",female,14.0,1,0,237736,30.0708,NaN,C

In [ ]:
tit.tail(8)

,PassengerId,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
883,884,0,2,"Banfield, Mr. Frederick James",male,28.0,0,0,C.A./SOTON 34068,10.500,NaN,S
884,885,0,3,"Sutehall, Mr. Henry Jr",male,25.0,0,0,SOTON/OQ 392076,7.050,NaN,S
885,886,0,3,"Rice, Mrs. William (Margaret Norton)",female,39.0,0,5,382652,29.125,NaN,Q
886,887,0,2,"Montvila, Rev. Juozas",male,27.0,0,0,211536,13.000,NaN,S
887,888,1,1,"Graham, Miss. Margaret Edith",female,19.0,0,0,112053,30.000,B42,S
888,889,0,3,"Johnston, Miss. Catherine Helen ""Carrie""",female,NaN,1,2,W./C. 6607,23.450,NaN,S
889,890,1,1,"Behr, Mr. Karl Howell",male,26.0,0,0,111369,30.000,C148,C
890,891,0,3,"Dooley, Mr. Patrick",male,32.0,0,0,370376,7.750,NaN,Q

4 - Cálculos envolvendo colunas numéricas com dados faltantes podem sofrer impacto. É possível afirmar se há dados faltantes no dataset? Caso positivo, quais e quantos seriam esses dados? Preencha os dados faltantes de forma que não influenciem em operações futuras.

In [ ]:
# Total de valores ausentes por coluna
tit.isna().sum()

PassengerId      0
Survived         0
Pclass           0
Name             0
Sex              0
Age            177
SibSp            0
Parch            0
Ticket           0
Fare             0
Cabin          687
Embarked         2
dtype: int64

In [ ]:
tit.head(891)

,PassengerId,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
0,1,0,3,"Braund, Mr. Owen Harris",male,22.0,1,0,A/5 21171,7.2500,NaN,S
1,2,1,1,"Cumings, Mrs. John Bradley (Florence Briggs Th...",female,38.0,1,0,PC 17599,71.2833,C85,C
2,3,1,3,"Heikkinen, Miss. Laina",female,26.0,0,0,STON/O2. 3101282,7.9250,NaN,S
3,4,1,1,"Futrelle, Mrs. Jacques Heath (Lily May Peel)",female,35.0,1,0,113803,53.1000,C123,S
4,5,0,3,"Allen, Mr. William Henry",male,35.0,0,0,373450,8.0500,NaN,S
...,...,...,...,...,...,...,...,...,...,...,...,...
886,887,0,2,"Montvila, Rev. Juozas",male,27.0,0,0,211536,13.0000,NaN,S
887,888,1,1,"Graham, Miss. Margaret Edith",female,19.0,0,0,112053,30.0000,B42,S
888,889,0,3,"Johnston, Miss. Catherine Helen ""Carrie""",female,NaN,1,2,W./C. 6607,23.4500,NaN,S
889,890,1,1,"Behr, Mr. Karl Howell",male,26.0,0,0,111369,30.0000,C148,C
890,891,0,3,"Dooley, Mr. Patrick",male,32.0,0,0,370376,7.7500,NaN,Q

In [ ]:


# https://www.encyclopedia-titanica.org/titanic-survivors/
# https://www.geni.com/people/


# Dados Ausentes da Coluna "Age"

# Sobreviventes
'''
 'Williams, Mr. Charles Eugene': '23',                        #1
 'Masselmani, Mrs. Fatima': '22',                             #2
 'O\'Dwyer, Miss. Ellen "Nellie"': '22',                      #3
 'Spencer, Mrs. William Augustus (Marie Eugenie)': '48',      #4
 'Glynn, Miss. Mary Agatha': '18',                            #5
 'Mamee, Mr. Hanna': '20',                                    #6
 'O\'Driscoll, Miss. Bridget': '27',                          #7
 'Woolner, Mr. Hugh': '45',                                   #8
 'Moubarek, Master. Gerios': '7',                             #9
 'McDermott, Miss. Brigdet Delia': '31',                      #10
 'Moss, Mr. Albert Johan': '29',                              #11
 'Moran, Miss. Bertha': '28',                                 #12
 'Peter, Miss. Anna': '2',                                    #13
 'Chibnall, Mrs. (Edith Martha Bowerman)': '48',              #14
 'O\'Brien, Mrs. Thomas (Johanna "Hannah" Godfrey)': '27',    #15
 'Madigan, Miss. Margaret "Maggie"': '21',                    #16
 'Murphy, Miss. Katherine "Kate"': '18',                      #17
 'Thorne, Mrs. Gertrude Maybelle': '37',                      #18
 'Healy, Miss. Hanora "Nora"': '33',                          #19
 'Saalfeld, Mr. Adolphe': '47',                               #20
 'Kelly, Miss. Anna Katherine "Annie Kate"': '20',            #21
 'McCoy, Mr. Bernard': '24',                                  #22
 'Keane, Miss. Nora A': '46',                                 #23
 'Fleming, Miss. Margaret': '42',                             #24
 'McCoy, Miss. Agnes': '29',                                  #25
 'Frauenthal, Mrs. Henry William (Clara Heinsheimer)': '42',  #26
 'Davison, Mrs. Thomas Henry (Mary E Finck)': '34',           #27
 'McGovern, Miss. Mary': '20',                                #28
 'Mockler, Miss. Helen Mary "Ellie"': '23',                   #29
 'Moussa, Mrs. (Mantoura Boulos)': '52',                      #30
 'Jermyn, Miss. Annie': '26',                                 #31
 'Meyer, Mrs. Edgar Joseph (Leila Saks)': '25',               #32
 'Thorneycroft, Mrs. Percival (Florence Kate White)': '32',   #33
 'Johannesen-Bratthammer, Mr. Bernt': '29',                   #34
 'Kenyon, Mrs. Frederick R (Marion)': '40',                   #35
 'Bradley, Mr. George ("George Arthur Brayton")': '37',       #36
 'Peter, Mrs. Catherine (Catherine Rizk)': '23',              #37
 'Padro y Manent, Mr. Julian': '26',                          #38
 'Kelly, Miss. Mary': '22',                                   #39
 'Leitch, Miss. Jessie Wills': '31',                          #40
 'Murphy, Miss. Margaret Jane': '25',                         #41
 'Foo, Mr. Choong': '32',                                     #42
 'O\'Leary, Miss. Hanora "Norah"': '16',                      #43
 'Taylor, Mrs. Elmer Zebley (Juliet Cummins Wright)': '49',   #44
 'Lam, Mr. Ali': '38',                                        #45
 'Mullens, Miss. Katherine "Katie"': '21',                    #46
 'Moubarek, Master. Halim Gonios ("William George")': '4',    #47
 'Mannion, Miss. Margareth': '28',                            #48
 'Hawksford, Mr. Walter James': '45',                         #49
 'McCormack, Mr. Thomas Joseph': '19',                        #50
 'Marechal, Mr. Pierre': '29',                                #51
 'Goldenberg, Mrs. Samuel L (Edwiga Grabowska)': '46'         #52

'''
# Dados ausentes dos não Sobreviventes Homens Classe 2 "Nenhum se encaixa na condição 24 a 30 anos"
'''
Pernot, Mr. Rene                 39 anos
Parkes, Mr. Francis "Frank"      21 anos
Cunningham, Mr. Alfred Fleming   21 anos
Campbell, Mr. William            20 anos
Frost, Mr. Anthony Wood "Archie" 38 anos
Watson, Mr. Ennis Hastings       18 anos
Knight, Mr. Robert J             42 anos
'''
# Dados Ausentes da Coluna "Age"
# Embarcou no Titanic no porto de Southampton = S
'''
Stephen Hayden Stone = S
Amelie Icard = S
'''

# Dados Ausentes da Coluna "Cabin" não influencia o Trabalho, dados ausentes completados com (0)

In [ ]:



#Exercício 14 o
# Utilizando um método e substituindo os valores ausentes da coluna idade do dataframe influenciará o exercicio 14

#tit['Age'].fillna(tit['Age'].median(), inplace=True)              = 27,3 Mediana

#tit['Age'].fillna(tit['Age'].mean(), inplace=True)                = 27,6 Média

#tit['Age'].fillna((0), inplace=True)                              = 23,3 Completando com 0

#for index, age in substitutions.items():                          = 27,4 Completando com dados externos
    #tit.loc[(tit['Survived'] == 1) & (tit.index == index), 'Age'] = age

In [ ]:
#Substituir dados ausentes por dados fornecidos externamente utilizando a index do dataframe fornecido: primeiro número do dicionário sendo a index e o segundo número do dicionário sendo a idade

substitutions = {17: 23, 19: 22, 28: 22, 31: 48, 32: 18, 36: 20, 47: 27, 55: 45, 65: 7, 82: 31, 107: 29,
                 109: 28, 128: 2, 166: 48, 186: 27, 198: 21, 241: 18, 256: 37, 274: 33, 298: 47,
                 300: 20, 301: 24, 303: 46, 306: 42, 330: 29, 334: 42, 347: 34, 358: 20, 359: 23,
                 367: 52, 368: 26, 375: 25, 431: 32, 444: 29, 457: 40, 507: 37, 533: 23, 547: 26,
                 573: 22, 596: 31, 612: 25, 643: 32, 653: 16, 669: 49, 692: 38, 697: 21, 709: 4,
                 727: 28, 740: 45, 828: 19, 839: 29, 849: 46}

for index, age in substitutions.items():
    tit.loc[(tit['Survived'] == 1) & (tit.index == index), 'Age'] = age

In [ ]:
tit.head(891)

,PassengerId,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
0,1,0,3,"Braund, Mr. Owen Harris",male,22.0,1,0,A/5 21171,7.2500,NaN,S
1,2,1,1,"Cumings, Mrs. John Bradley (Florence Briggs Th...",female,38.0,1,0,PC 17599,71.2833,C85,C
2,3,1,3,"Heikkinen, Miss. Laina",female,26.0,0,0,STON/O2. 3101282,7.9250,NaN,S
3,4,1,1,"Futrelle, Mrs. Jacques Heath (Lily May Peel)",female,35.0,1,0,113803,53.1000,C123,S
4,5,0,3,"Allen, Mr. William Henry",male,35.0,0,0,373450,8.0500,NaN,S
...,...,...,...,...,...,...,...,...,...,...,...,...
886,887,0,2,"Montvila, Rev. Juozas",male,27.0,0,0,211536,13.0000,NaN,S
887,888,1,1,"Graham, Miss. Margaret Edith",female,19.0,0,0,112053,30.0000,B42,S
888,889,0,3,"Johnston, Miss. Catherine Helen ""Carrie""",female,NaN,1,2,W./C. 6607,23.4500,NaN,S
889,890,1,1,"Behr, Mr. Karl Howell",male,26.0,0,0,111369,30.0000,C148,C
890,891,0,3,"Dooley, Mr. Patrick",male,32.0,0,0,370376,7.7500,NaN,Q

In [ ]:
# Total de valores ausentes por coluna
tit.isna().sum()

PassengerId      0
Survived         0
Pclass           0
Name             0
Sex              0
Age            125
SibSp            0
Parch            0
Ticket           0
Fare             0
Cabin          687
Embarked         2
dtype: int64

In [ ]:
# Preenchendo os valores ausentes da Cabine por 0
tit['Cabin'].fillna((0), inplace=True)

In [ ]:
#Stephen Hayden Stone e Amelie Icard embarcou no Titanic no porto de Southampton = S  de acordou com fontes externas

tit['Embarked'].fillna(('S'), inplace=True)

In [ ]:
tit.head(891)

,PassengerId,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
0,1,0,3,"Braund, Mr. Owen Harris",male,22.0,1,0,A/5 21171,7.2500,NaN,S
1,2,1,1,"Cumings, Mrs. John Bradley (Florence Briggs Th...",female,38.0,1,0,PC 17599,71.2833,C85,C
2,3,1,3,"Heikkinen, Miss. Laina",female,26.0,0,0,STON/O2. 3101282,7.9250,NaN,S
3,4,1,1,"Futrelle, Mrs. Jacques Heath (Lily May Peel)",female,35.0,1,0,113803,53.1000,C123,S
4,5,0,3,"Allen, Mr. William Henry",male,35.0,0,0,373450,8.0500,NaN,S

## Adequando o DataSet

5 - Uma vez que algumas colunas não serão utilizadas, eventualmente é melhor excluí-las para que não interfiram na análise. Assim, exclua do dataset as colunas Sibsp, Parch e Ticket.

In [ ]:
# Excluindo as colunas    axis = 1 "colunas" axis = 0 "Linhas"     inplace = para afetar diretamente o dataframe
tit.drop(['SibSp', 'Parch', 'Ticket'], axis=1, inplace=True)

In [ ]:
tit.head()

,PassengerId,Survived,Pclass,Name,Sex,Age,Fare,Cabin,Embarked
0,1,0,3,"Braund, Mr. Owen Harris",male,22.0,7.2500,0,S
1,2,1,1,"Cumings, Mrs. John Bradley (Florence Briggs Th...",female,38.0,71.2833,C85,C
2,3,1,3,"Heikkinen, Miss. Laina",female,26.0,7.9250,0,S
3,4,1,1,"Futrelle, Mrs. Jacques Heath (Lily May Peel)",female,35.0,53.1000,C123,S
4,5,0,3,"Allen, Mr. William Henry",male,35.0,8.0500,0,S

6 - Renomear as colunas restantes para a lingua portuguesa, utilizando os seguintes nomes de colunas: IdPassageiro, Sobreviveu, Classe, Nome, Sexo, Idade, Tarifa, Cabine e Embarque.

In [ ]:
# Modificar nomes das colunas

tit.rename(columns={'PassengerId': 'IdPassageiro', 'Survived': 'Sobreviveu', 'Pclass': 'Classe', 'Name': 'Nome', 'Sex': 'Sexo', 'Age': 'Idade', 'Fare': 'Tarifa', 'Cabin': 'Cabine', 'Embarked': 'Embarque'}, inplace=True)

In [ ]:
tit.head()

,IdPassageiro,Sobreviveu,Classe,Nome,Sexo,Idade,Tarifa,Cabine,Embarque
0,1,0,3,"Braund, Mr. Owen Harris",male,22.0,7.2500,0,S
1,2,1,1,"Cumings, Mrs. John Bradley (Florence Briggs Th...",female,38.0,71.2833,C85,C
2,3,1,3,"Heikkinen, Miss. Laina",female,26.0,7.9250,0,S
3,4,1,1,"Futrelle, Mrs. Jacques Heath (Lily May Peel)",female,35.0,53.1000,C123,S
4,5,0,3,"Allen, Mr. William Henry",male,35.0,8.0500,0,S

7 - Alterar o conteudo da coluna Sobreviveu para:
- 0 => Não
- 1 => Sim

In [ ]:
# Alterar o conteudo da coluna 'Sobreviveu'

tit['Sobreviveu'].replace({0: 'Não', 1: 'Sim'}, inplace=True)

In [ ]:
tit.head()

,IdPassageiro,Sobreviveu,Classe,Nome,Sexo,Idade,Tarifa,Cabine,Embarque
0,1,Não,3,"Braund, Mr. Owen Harris",male,22.0,7.2500,0,S
1,2,Sim,1,"Cumings, Mrs. John Bradley (Florence Briggs Th...",female,38.0,71.2833,C85,C
2,3,Sim,3,"Heikkinen, Miss. Laina",female,26.0,7.9250,0,S
3,4,Sim,1,"Futrelle, Mrs. Jacques Heath (Lily May Peel)",female,35.0,53.1000,C123,S
4,5,Não,3,"Allen, Mr. William Henry",male,35.0,8.0500,0,S

8 - Alterar o conteudo da coluna Sexo para:
- female => Mulher
- male   => Homem

In [ ]:
# Alterar o conteudo da coluna 'Sexo'

tit['Sexo'].replace({'female': 'Mulher', 'male': 'Homem'}, inplace=True)

In [ ]:
tit.head()

,IdPassageiro,Sobreviveu,Classe,Nome,Sexo,Idade,Tarifa,Cabine,Embarque
0,1,Não,3,"Braund, Mr. Owen Harris",Homem,22.0,7.2500,0,S
1,2,Sim,1,"Cumings, Mrs. John Bradley (Florence Briggs Th...",Mulher,38.0,71.2833,C85,C
2,3,Sim,3,"Heikkinen, Miss. Laina",Mulher,26.0,7.9250,0,S
3,4,Sim,1,"Futrelle, Mrs. Jacques Heath (Lily May Peel)",Mulher,35.0,53.1000,C123,S
4,5,Não,3,"Allen, Mr. William Henry",Homem,35.0,8.0500,0,S

## Alguns números

9 - Quantas mulheres e quantos homems estavam à bordo, de acordo com o dataset?

In [ ]:
# Quantidade Mulheres e Homens a bordo

tit['Sexo'].value_counts()

Homem     577
Mulher    314
Name: Sexo, dtype: int64

10 - Quantos passageiros sobreviveram e quantos não sobreviveram?

In [ ]:
#Quantidade de Sobreviventes

tit['Sobreviveu'].value_counts()

Não    549
Sim    342
Name: Sobreviveu, dtype: int64

11 - Quantas mulheres não sobreviveram?

In [ ]:
# Quantidades de mulheres não sobreviventes   shape[0] = linhas

tit[(tit['Sexo'] == 'Mulher') & (tit['Sobreviveu'] == 'Não')].shape[0]

81

12 - Proporcionalmente, sobreviveram mais homens ou mais mulheres? Cite as proporções.

In [ ]:
#Condição Sobrevivente for igual a Sim  acumular a quantidade dos valores mulher e homem   "Normalize= true" separa por proporção

tit[tit['Sobreviveu'] == 'Sim']['Sexo'].value_counts(normalize=True)

Mulher    0.681287
Homem     0.318713
Name: Sexo, dtype: float64

13 - Levando-se em consideração a idade dos passageiros, qual a idade e quantidade de pessoas com o maior número de mortos?

In [ ]:
#Condiçã para verificar se não sobreviveu e contador para os valores de idade

tit[tit['Sobreviveu'] == 'Não']['Idade'].value_counts()

21.0    19
28.0    18
25.0    17
18.0    17
22.0    16
        ..
15.0     1
36.5     1
23.5     1
55.5     1
74.0     1
Name: Idade, Length: 77, dtype: int64

14 - Qual a média de idade dos homens sobreviventes?

In [ ]:
#Condição Homem e sobrevivente, calcular a média da idade deles

tit[(tit['Sexo'] == 'Homem') & (tit['Sobreviveu'] == 'Sim')]['Idade'].mean()

27.437339449541284

15 - Levando-se em consideração passageiros prioritários (mulheres e crianças de até 15 anos independente do sexo) qual a proporção de sobreviventes por sexo?

In [ ]:
tit[(tit['Sexo'] == 'Mulher') | (tit['Sobreviveu'] == 'Sim') & (tit['Idade'] <= 15)]['Sexo'].value_counts(normalize=True)

Mulher    0.557692
Homem     0.442308
Name: Sexo, dtype: float64

16 - Qual a quantidade de passageiros por classe?

In [ ]:
# Quantificando os valores da contagem da coluna classe

tit['Classe'].value_counts()

3    491
1    216
2    184
Name: Classe, dtype: int64

17 - Qual o percentual de sobreviventes por classe?

In [ ]:
#Condição se sobreviveu quantificar os valores da classe e demonstrar em porcentagem da cada valor da coluna

tit[tit['Sobreviveu'] == 'Sim']['Classe'].value_counts(normalize=True)

1    0.397661
3    0.347953
2    0.254386
Name: Classe, dtype: float64

18 - Crie um dataframe que demonstre a quantidade de sobreviventes e não sobreviventes, agrupados por sexo e classe.

In [ ]:
#Agrupamento das colunas Sobreviveu, classe, sexo por quantidade  ordenado por classe

tit.groupby(['Sobreviveu', 'Classe', 'Sexo']).size().reset_index(name='Quantidade').sort_values(by='Classe', ascending=False)

   Sobreviveu  Classe    Sexo  Quantidade
4         Não       3   Homem         300
5         Não       3  Mulher          72
10        Sim       3   Homem          47
11        Sim       3  Mulher          72
2         Não       2   Homem          91
3         Não       2  Mulher           6
8         Sim       2   Homem          17
9         Sim       2  Mulher          70
0         Não       1   Homem          77
1         Não       1  Mulher           3
6         Sim       1   Homem          45
7         Sim       1  Mulher          91

19 - Dos homens com idade entre 24 e 30 anos quantos da classe 3 sobreviveram? Quantos da classe 2 não sobreviveram?

In [ ]:
#Homens entre 24 a 30 anos da Classe 3 que sobreviveram

tit[(tit['Sobreviveu'] == 'Sim') & (tit['Idade'] >= 24) & (tit['Idade'] <= 30) & (tit['Classe'] == 3) & (tit['Sexo'] == 'Homem') ]['Sexo'].value_counts()

Homem    15
Name: Sexo, dtype: int64

In [ ]:
#Homens entre 24 a 30 anos da Classe 2 que não sobreviveram

tit[(tit['Sobreviveu'] == 'Não') & (tit['Idade'] >= 24) & (tit['Idade'] <= 30) & (tit['Classe'] == 2) & (tit['Sexo'] == 'Homem') ]['Sexo'].value_counts()

Homem    24
Name: Sexo, dtype: int64